<div class="promo-banners">
  <div class="banner">
    <a href="link-to-promo1.html">
      <img src="promo1-image.jpg" alt="Promo 1" />
    </a>
  </div>
  <div class="banner">
    <a href="link-to-promo2.html">
      <img src="promo2-image.jpg" alt="Promo 2" />
    </a>
  </div>
  <div class="banner">
    <a href="link-to-promo3.html">
      <img src="promo3-image.jpg" alt="Promo 3" />
    </a>
  </div>
  <div class="banner">
    <a href="link-to-promo4.html">
      <img src="promo4-image.jpg" alt="Promo 4" />
    </a>
  </div>
</div>